#projects {
  background-color: var(--color-primary-faint);
  position: relative;
  width: min(100%, 1300px);
  --clip-width: 20rem;
  --clip-height: 8rem;
  clip-path: polygon(
    0% 0%,
    var(--clip-width) 0%,
    calc(var(--clip-width) + var(--clip-height)) var(--clip-height),
    100% var(--clip-height),
    100% 100%,
    0% 100%
  );

  h2 {
    text-align: start;
    padding: 1em 2em;
    --bracket-color: var(--color-background);
  }

  h3 {
    text-align: center;
    padding: 1em 0;

    a {
      opacity: 60%;

      &:hover {
        opacity: 100%;
      }
    }
  }

  .projects-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

  .project-sidebar {
    position: sticky;
    top: 2.5rem;
    flex-basis: 10rem;
    flex-grow: 1;
    height: auto;
    align-self: flex-start;
    z-index: 2;
    background-color: var(--color-project-button);

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      flex-basis: 7rem;
      flex-grow: 1;
      border-bottom: 1px solid var(--color-background);

      &:first-child {
        border-top: 1px solid var(--color-background);
      }

      &:hover {
        background-color: var(--color-background);
      }
    }

    button {
      padding: 1em;
      display: flex;
      align-items: center;
      gap: 0.4em;
      border: none;
      font-size: inherit;
      width: 100%;
      height: 100%;
      text-align: inherit;
      color: inherit;
    }

    .selected {
      background-color: var(--color-background);
      font-weight: bold;
    }
  }

  #project-display-panel {
    background-color: var(--color-background);
    flex-basis: 40rem;
    flex-grow: 20;
    min-height: 10rem;
    padding: 1rem;
    // this can't be in dark mode, because of background images
    color: black;

    & > div {
      position: relative;
      display: none;
    }
  }

  .project-info {
    position: relative;
    width: 100%;
    min-height: 40rem;
    padding: 1em 3em;
    background: linear-gradient(15deg, rgba(253, 253, 247, 0.9) 30%, rgba(255, 255, 255, 0) 60%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .closable-info {
    position: absolute;
    inset: 0;

    & > div {
      position: absolute;
      bottom: 1em;
    }
  }

  .text-bottom {
    width: 100%;
    max-width: 30rem;

    h3 {
      font-size: var(--fs-nav);
    }

    p {
      margin-left: 0;
    }
  }

  $projects: social, rps, store, spacex, node;

  @each $project in $projects {
    .#{$project}background {
      background-image: linear-gradient(#fffd, #fffd), url('/images/#{$project}.webp');
    }
  }

  .project-background-image {
    background-repeat: no-repeat;
    background-size: min(100%, 60rem);
    background-position: top;
  }

  .minesweeperbackground {
    background-color: lightgrey;
  }
}

@media (max-width: 50rem) {
  #projects .project-sidebar {
    position: relative;
    margin-bottom: 1rem;
    top: 0;

    & li {
      border-left: 1px solid var(--color-background);

      &:first-child {
        border: inherit;
      }
    }
  }

  #project-display-panel {
    padding-left: 0px;
    padding-right: 0px;
  }

  .project-info {
    padding: 0 !important;
  }

  .project-background-image {
    background-size: cover !important;
  }

  h3 {
    text-align: center;
  }
}
