section {
  max-width: var(--max-site-width);
  margin: 10rem auto;

  p,
  ul {
    margin: 2em auto 1em auto;
  }

  h2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.icon-grid {
  overflow: hidden;

  & > div {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    // justify-content: flex-start;
    // height: 200px;
    height: min(200px, 30vw);
    aspect-ratio: 0.25;
    animation: scroll 50s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .icon-js {
    height: 100%;
    aspect-ratio: 1;
  }
}
