@use 'variables';
@use 'section';

@media only screen and (max-width: 375px) {
  body {
    --fs-title: 5rem;
    --fs-subheading: 2rem;
    --fs-nav: 1rem;
  }
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

body {
  background-color: var(--color-background);
  font-family: var(--ff-body);
  color: var(--color-text);
}

main {
  margin-top: 3rem;
}

p {
  max-width: 60ch;
  font-size: var(--fs-body);
  line-height: 1.5;
  padding: 0 1em;
  margin-top: 2em;
}

h2 {
  font-family: var(--ff-heading);
  font-size: var(--fs-subheading);
  --bracket-color: var(--color-primary-accent);

  &::before {
    content: '[';
    color: var(--bracket-color);
    position: relative;
    right: 1rem;
  }
  &::after {
    content: ']';
    color: var(--bracket-color);
    position: relative;
    left: 1rem;
  }
}

a {
  color: var(--color-text);
}

// FOOTER

footer {
  text-align: center;
  font-size: 0.8rem;
  // color: var(--color-primary-faint);
  margin-bottom: 1em;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.flex-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
}

.reverse {
  flex-wrap: wrap-reverse;
}

.flex-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.color1 {
  --accent-color: var(--color-accent-1);
}
.color2 {
  --accent-color: var(--color-accent-2);
}
.color3 {
  --accent-color: var(--color-accent-3);
}

.icon-small {
  height: 1.2em;
}

.highlight {
  background-image: linear-gradient(var(--accent-color), var(--accent-color));
  background-size: 100% 30%;
  background-position: 0 100%;
  transition: background-size 500ms;
  background-repeat: no-repeat;

  &:hover {
    background-size: 100% 100%;
  }
}
