<style lang="scss">
  section {
    width: 100%;
    max-width: 100%;
    background-color: var(--color-primary-faint);
    isolation: isolate;
  }

  .feature-wrapper {
    justify-content: center;
    gap: 2rem;
    padding: 5rem 0rem;
    max-width: var(--max-site-width);
    margin: auto;

    & > * {
      //fix the flex-basis
      flex-basis: 30rem;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  .feature {
    margin: 6rem min(3rem, 10%);
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--ff-heading);
    max-width: max-content;
    padding: 0 0.5rem;
    --bracket-color: var(--color-background);

    &::before {
      content: '{';
      position: absolute;
      left: min(5rem, 10vw);
      top: calc(-1 * min(5rem, 10vw));
      font-size: min(10rem, 30vw);
      color: var(--bracket-color);
      z-index: -1;
    }

    &::after {
      content: '}';
      position: absolute;
      right: min(5rem, 10vw);
      bottom: calc(-1 * min(5rem, 10vw));
      font-size: min(10rem, 30vw);
      color: var(--bracket-color);
      z-index: -2;
    }

    .feature-title {
      font-size: var(--fs-subheading);
      position: relative;
      font-weight: bold;
    }

    .feature-subtitle {
      margin-top: 0.5rem;
      display: block;
      font-size: var(--fs-subsubheading);
      align-self: flex-end;
      padding-left: 1em;
    }
  }
</style>

<section>
  <div class="flex feature-wrapper">
    <div class="feature">
      <span><span class="feature-title highlight color1">Design without Limits</span></span><span
        class="feature-subtitle">Let me handle the details, so you can focus on the big picture</span
      >
    </div>

    <div class="icon-grid">
      <div>
        <img src="/icons/typescript-official-svgrepo-com.svg" alt="Typescript Icon" class="icon-js" />
        <img src="/icons/reactjs-svgrepo-com.svg" alt="React Icon" class="icon-js" />
        <img src="/icons/node-svgrepo-com.svg" alt="Node Icon" class="icon-js" />
        <img src="/icons/google-cloud-svgrepo-com.svg" alt="Google Cloud Icon" class="icon-js" />
        <img src="/icons/next-16-svgrepo-com.svg" alt="Next.js Icon" class="icon-js" />
        <img src="/icons/js-svgrepo-com.svg" alt="Javascript Icon" class="icon-js" />
        <img src="/icons/docker-svgrepo-com.svg" alt="Docker Icon" class="icon-js" />
        <img src="/icons/npm-svgrepo-com.svg" alt="NPM Icon" class="icon-js" />
        <img src="/icons/sql-svgrepo-com.svg" alt="SQL Icon" class="icon-js" />
        <img src="/icons/html-5-svgrepo-com.svg" alt="HTML Icon" class="icon-js" />
        <img src="/icons/css-3-svgrepo-com.svg" alt="CSS Icon" class="icon-js" />
        <img src="/icons/express-svgrepo-com.svg" alt="Express Icon" class="icon-js" />
        <img src="/icons/mongodb-svgrepo-com.svg" alt="Mongodb Icon" class="icon-js" />
        <!-- second copy below -->
        <img src="/icons/typescript-official-svgrepo-com.svg" alt="Typescript Icon" class="icon-js" />
        <img src="/icons/reactjs-svgrepo-com.svg" alt="React Icon" class="icon-js" />
        <img src="/icons/node-svgrepo-com.svg" alt="Node Icon" class="icon-js" />
        <img src="/icons/google-cloud-svgrepo-com.svg" alt="Google Cloud Icon" class="icon-js" />
        <img src="/icons/next-16-svgrepo-com.svg" alt="Next.js Icon" class="icon-js" />
        <img src="/icons/js-svgrepo-com.svg" alt="Javascript Icon" class="icon-js" />
        <img src="/icons/docker-svgrepo-com.svg" alt="Docker Icon" class="icon-js" />
        <img src="/icons/npm-svgrepo-com.svg" alt="NPM Icon" class="icon-js" />
        <img src="/icons/sql-svgrepo-com.svg" alt="SQL Icon" class="icon-js" />
        <img src="/icons/html-5-svgrepo-com.svg" alt="HTML Icon" class="icon-js" />
        <img src="/icons/css-3-svgrepo-com.svg" alt="CSS Icon" class="icon-js" />
        <img src="/icons/express-svgrepo-com.svg" alt="Express Icon" class="icon-js" />
        <img src="/icons/mongodb-svgrepo-com.svg" alt="Mongodb Icon" class="icon-js" />
      </div>
    </div>
  </div>
</section>
