<style>
  li {
    margin: 1em 0;
  }
</style>

<section id="about">
  <h2>About Me</h2>

  <p class="pop">
    <strong>
      What can I provide for you?
    </strong>
  </p>

  <ul>
    <li>- Build your dream project from scratch using the latest technologies</li>
    <li>- Deploy your app to the cloud</li>
    <li>- Fix your 'vibe-coded' app and turn it into a stable, production-ready product</li>
  </ul>

  <p class="pop">
    <strong>
      I'm a freelance full-stack cloud engineer with a wide skillset and experience working with international
      clients.
    </strong>
  </p>
  <p>
    I can build and manage whatever your business needs, whether it's a static HTML site for the fastest loading times, an
    SEO-optimised multi-page app with Next.js, or a highly interactive single page app with React.js.
  </p>
  
  <p>
    I'm originally from Scotland, but now living in Thailand. I started learning web development by myself in high school, writing plain html in notepad. I've always loved the
    challenge of programming, but I left it to get a 'real job'. But after years of working in the education sector, in 2021 I
    returned to the field which originally sparked my interest.
  </p>
</section>
