---
import About from '@components/About/About.astro';
import Contact from '@components/Contact/Contact.astro';
import Feature from '@components/Feature/Feature.astro';
import Hero from '@components/Hero/Hero.astro';
import Navbar from '@components/Navbar/Navbar.astro';
import Projects from '@components/Projects/Projects.astro';
import '../styles/style.scss';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Samuel Reed's Github Portfolio Page for Web Development" />
    <meta name="google-site-verification" content="KJEJb_xromfzRlpR196yh8w_162ar9oRZH5ZhuAN78M" />
    <title>Samuel Reed</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar />
    <Hero />
    <main>
      <Feature />
      <About />
      <Projects />
      <Contact />
    </main>
    <footer>
      Site hand coded by Samuel Reed using free-range, organic HTML/CSS/JS, optimised with Astro. Icons by
      <a href="https://www.svgrepo.com/">svgrepo.com</a>
    </footer>
  </body>
</html>
